.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/netflix-background-9.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 263px 205px 0 178px;
}

.u-section-1 .u-form-1 {
  height: 48px;
  margin: 33px 187px 60px 114px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 105px;
    margin-left: 78px;
  }

  .u-section-1 .u-form-1 {
    width: 783px;
    margin-left: 14px;
    margin-right: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 235px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-bottom: 13px;
  }
}.u-section-2 {
  min-height: 450px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 450px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 105px 133px 0 93px;
}

.u-section-2 .u-text-2 {
  margin: 32px 18px 0 81px;
}

.u-section-2 .u-image-1 {
  min-height: 450px;
  margin-top: 0;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/152959-tv-news-feature-best-netflix-shows-the-top-binge-worthy-tv-series-to-watch-image50-yhgrp4x9tz.jpg");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 431px;
  }

  .u-section-2 .u-layout-cell-1 {
    pointer-events: auto;
    min-height: 431px;
    margin-top: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 83px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 431px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 554px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 106px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 41px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-1 {
    min-height: 275px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-2 .u-text-1 {
    width: 480px;
    margin-top: 117px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 29px;
    margin-right: 51px;
    margin-left: 69px;
  }

  .u-section-2 .u-image-1 {
    min-height: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 603px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 269px;
    background-position: 50% 50%;
  }
}.u-section-3 {
  min-height: 450px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 450px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  filter: brightness(0.8);
  width: 610px;
  height: 368px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 450px;
  margin-top: 0;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  margin: 64px 90px 0 33px;
}

.u-section-3 .u-text-2 {
  margin: 42px 90px 0 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 431px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-3 .u-image-1 {
    width: 564px;
    height: 341px;
  }

  .u-section-3 .u-layout-cell-2 {
    pointer-events: auto;
    min-height: 431px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 43px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 43px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 554px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 529px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 559px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 535px;
  }

  .u-section-3 .u-image-1 {
    left: 102px;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 515px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 603px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 333px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 12px auto -12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 530px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-video-poster-1 {
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
  background-image: url("images/96753525bcccbeb8fd5f6b5bff02c93141-buffering-netflix-lede.jpg?rand=9a29");
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-4 .u-video-poster-1 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-video-poster-1 {
    background-position: 50% 50%;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 646px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 621px;
  margin: 67px auto 0;
}

.u-section-5 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 69px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 565px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 94px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 180px;
}

.u-section-6 .u-social-icons-1 {
  height: 60px;
  min-height: 16px;
  width: 300px;
  min-width: 124px;
  margin: 60px auto;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}