.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: 0.5rem;
}
.section-features {
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary
    ),
    url(../img/aus28.jpg);
  background-size: cover;
  padding: 25rem 0;
  margin-top: 0.5rem;
}
.section-tours {
  background-color: $color-gray-light-1;
  padding: 25rem 0 30rem 0;
  margin-top: 0.5rem;
  margin-bottom: 10rem;
}
.section-stories {
  padding: 15rem 0;
  margin-top: -9.5rem;
  position: relative;
}
